* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* body::-webkit-scrollbar {
    display: none;
}
.fixed-container {
    width: 1200px;
    margin: 0 auto;
} */
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.clear-float {
    content: "";
    clear: both;
    display: table;
}
/* Top Navbar */
.overall-container{
    background-image:  url(images/home_body_bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.fluid-container{
    width: 100%;
}
.fixed-width{
    max-width: 65%;
    /* background-color: aquamarine; */
    margin: 0 auto;
}
.resize-logo{
    width: 139px;
}
.navbar-options a, .navbar-options li{
    display: inline-block;
}
.nav-btn-style{
    color: #707070;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;

}
.logo-adjust-left{
    width: 46px;
    padding-bottom: 6px;
}
.logo-adjust-right{
    width: 27px;
}
/* functional navbar*/
.functional-navbar img{
width: 41px;
height: 43px;
margin-bottom: 1px;
}
.left-options{
    float: left;
    width: 2.4%;
}
.middle-options{
    float: left;
    width: 95.2%;
    border: 2px solid;
    height: 86px;
}
.keyword-options, .about-options, .when-options, .who-options{
    float: left;
    width: 17.4%;
    border: 2px solid;
}
.age-options,.language-options{
    float: left;
    width: 9%;
    border: 2px solid;
}
.where-options{
    float: left;
    width: 12.4%;
    border: 2px solid;
}
.input-field input{
    width: 100%;
    padding: 6px;
    border: none;
}
.blue-background{
    background-color: #0150bc;
}
.middle-options button{
    padding: 10px;
}
.left-options a,.right-options a{
    display: block;
}
.right-options{
    float: right;
    width: 2.4%;
}

/* middle text */
.mid-content-margin{
    margin-top: 145px;
    margin-bottom: 106px;
    color: #0d51b9;
}
.mid-content-margin div{
    font-size: 19px;

}
/* Designing cards */
.set-card-bg{
    background-color: #5181CD;
    opacity: 0.9;
    height: 170px;
}
.bg-green{
    background-color: #6aab5c !important;

}
.bg-lightblue{
    background-color: #87c7d2 !important;

}

/* footer */
.footer-margin{
    margin-top: 193px;
}
.fb-logo{
    height: 31px;
}
.small-paragraph{
    font-size: 7px;
    color: #0d51b9;
}
.nsw-logo{
    height: 38px;
}
.link-adjustment{
    color: #0d51b9;
    font-size: 12px;

}